DATABASE_URL="postgresql://postgres:postgres@localhost:5432/judge0test?schema=public"
AUTH_SECRET="replace-with-a-random-32-byte-secret"
APP_BASE_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
JUDGE0_BASE_URL="https://ce.judge0.com"
